.main-con{
    height: 500px;
    width: 700px;
    background-color: darkgray;
    display: flex;
    margin-left: 80px;
    margin-top: 40px;

}
.form2{
    width: 200px;
    height: 600px;
    margin-top: 12px;
    font-weight: bolder;
    border-bottom: 1px solid red;

}

.form{
    width: 400px;
    height: 500px;
    margin-left: 20px;
    
}

button{
    margin-left: 120px;
    background-color: black;
    color: white;
    box-sizing: border-box;
    size: 20px;
}

.main-con h2{
    margin-left: 20px;
}
.main-con p{
    font-size: 14px;
    margin-left: 20p
}

nav{
    
    background-color: black;
    color: yellow;
    padding: 15px;
    
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
}

nav li{
    padding-right: 100px;
}

.form2: hover{
    color:
}

.main-con p