.game1{
    width: 100%;
    height: 100vh;
    background-color: rgb(234, 0, 255);
    overflow:hidden;
}
.imgcon{
    width: 100%;
    height: 300px;
    display: flex;
    padding: 24px 12px
    
}
#img1{
    width: 15%;
    height: 100px;
}

#img2{
    width: 15%;
    height: 100px;
    margin-left: 20%;
}

#img3{
    width: 15%;
    height: 100px;
    margin-left: 20%;
}

#img4{
    width: 15px;
    height: 100px;
}

#dup{
    margin-top: 3%;
    margin-left: 40%;

}

#myButtons{
    width: 18%;
    margin-top: 3%;
    background-color: black;
    margin-left: 40%;
}

#but{
    margin-left: 50%;
}

.game11{
    width: 100%;
    height: 100vh;
    background-color: rgb(234, 0, 255);
    overflow:hidden;
}