#main-pot{
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
  
  
}

#sidebar{
  background: url("../img/portrait1.jpeg");
  height: 400px;
  width: 100px;
  margin-left: 20px;
}

#content-bar{
  height: 400px;
  width: 500px;
  border: 4px solid white;
  background: tan;
  
  
}
#square{
  border: 3px solid white;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-top: 15px;
  
}

#circle{
  border-radius: 100px;
  width: 20px;
  height: 20px; 
  border: 5px solid white;
  border-color: white;
  margin-left: 12px;
  margin-top: -10px;
}
.vin{
  border-radius: 100px;
  width: 30px;
  height: 30px;
  border: 3px solid white;
  margin-top: 40px;
  margin-left: 30px;
}

.vin span{
  color: white;
}

.vin p{
  color: white;
  margin-left: -20px;
}

.below{
  font-size: 12px;
  color: white;
  margin-top: 70px;
}

#content-bar{
  

}

#photos{
  background: url("../img/blue suit.png") center center;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  margin-top: 100px;
  margin-left: 200px;
}

.write-up{
  font-size: 18px;
  text-align: center;
  padding: 12px 11px;
}

.author{
  text-decoration-color: royalblue;
  text-align: center;
  background-color: 
  
}
#photos{

}

#photos p{
  border-radius: 100px;
  width: 40px;
  height: 40px;
  border: 2px solid white;
  margin-top: 50px;
  margin-left: 150px;
  color: white;
  font-size: 35px;

  
}

.plus p{
  
}


  
