
.form-inline{
  padding: 10px 400px;
}

.navbar{
  background-color: rgb(252, 8, 8)
  
}

.mainnav{
  display: flex;
  text-decoration: none;
}

.row{
  padding: 30px 20px;
}

.mainnav>li{
  font-size-adjust: inherit;
  -ms-text-autospace: inherit;
  color: white;
  list-style: none;
  padding-right: 50px;
}



.firsimage{
  animation-name: rightFadeOut;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.secondimage{
  animation-name: rightFadeOut;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.thirdimage{
  animation-name: rightFadeOut;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.header-logo img{
  height: 60px;
}

.form-control{
  display
}