#container{
    width: 100%;
    height: 100vh;
    background-color: black;
    
}

#thetop{
    width: 100%;
    height: 20%;
    background: url("../images/casinolike.gif");
    border: 3px solid yellowgreen;
    display: flex;
}

#sideimg{
    border-radius: 100%;
    width: 15%;
    height: 80%;
    border: 2px solid brown;
    margin-left: 2%;
    margin-top: 1%;
    background-color: black;
}

#sideimg img{
    width: 60%;
    height: 70%;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 100%;
}

#moreimg{
    width: 15%;
    height: 30%;
    border: 3px solid white;
    margin-top: 7%;
    margin-left: 80%;
    background-color: brown;
}

#one{
    width: 40%;
    height: 60%;
    margin-top: 4%;
}

#two{
    width: 40%;
    height: 60%;
    margin-top: 4%;
    margin-left: 2%;
}

#one:hover{
    cursor: pointer;
    shape-margin: 10rem
}

#two:hover{
    cursor: pointer; 
}

#frame{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#frame h2{
    color: brown;
    font-style: italic;
    font-size: larger;
    text-decoration-style: double;
}

#frame h1{
    color: crimson;

}
#frame h1 marquee{
    color: red;
    font-style: italic;
}

#my_form{
    width: 50%;
    height: 200px;
    border: 2px solid goldenrod;
    margin-top: 5%;
    margin-left: 25%;
    background-image: url("../images/waterfall.gif");
}

#my_form form{
    display: block;
    margin-left: 8%;
    margin-top: 3%;
}
#btn{
    width: 30%;
    height: 50px;
    color: brown;
}
#btn:hover{
    background-color: black;
    font-size: x-large;
}

.content{
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
    display:none;
}

#deco{
    width: 100%;
    height: 300px;
    background-image: url("../images/rainfall.gif");
}

ul{
    display: flex;
    color: red;
}

ul li{
    list-style: none;
    padding-right: 5%;
    margin-left: 10%;
    margin-top: 3%;
    font-size: larger;
}

li:hover{
    cursor: pointer;
    color: blue;
    font-size: x-large;
}
#deco:hover{
    opacity: 0.7;
}

#deco h1{
    color: white;
    text-align: center;
    margin-top: 3%; 
}
#deco h4{
    color: white;
    text-align: center;
    margin-top: 3%; 
}

#exit{
    width: 20%;
    height: 70px;
    background-color: red;
    color: darkmagenta;
}

label{
    color: red;
}

#time{
    width: 20%;
    height: 100px;
    margin-left: 85%;
    margin-top: -2%;
}
#time button{
    background-color: black;
    color: aqua;
    
}

#time h2{
    color: crimson;
}

p{
}

