body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#header{
  background-color: brown;
  margin-left: 20%;
 
}

#navs{
  width: 50%;
  height: 50px;
  margin-left: 20%;
  margin-top: -2%;
  padding-top: -50px;

}

#navs ul{
  display: flex;
  list-style: none;
  
}

li{
  display: flex;
  color: rgb(241, 7, 89);
  font-size: larger;
  padding: 10%;
}
li h3{
  color: white;
}

li:hover{
  cursor: pointer;
  font-style: oblique;
  text-decoration: yellow;
}

.App-header{
  background: url('../img/portrait1.jpeg') no-repeat;
  background-size: cover;
  background-position: left center;
}
.logo{
  width: 10%;
  height: 120px;
  border-radius: 100%;
  background:url('../img/consulting.gif');
  margin-top: -3%;
  border: 3px solid black;
}

#write{
  margin-top: -10%;
  width: 15%;
  height: 40px;
  margin-left: 80%;
  background-color: black;
  border-radius: 40%;
}
#write h2{
  color:rgb(223, 191, 15);
  margin-top: -2%;
  
}
#one{
  color: brown;
}
#two{
  font-style: italic;
  color:white;
}

h3{
  margin-top: 5%;
  color: rgb(155, 16, 127);
}

.more{
  width: 100%;
  height: 250px;
  display: flex;
  background-color: aquamarine;
}

#box1{
  background-color: black
}

#box1 h4{
  text-align: center;
  color: blue;
}

#box1 p{
  text-align: left;
  color: white;
}

#begin{
  color: blue;
}
#begin:hover{
  cursor:pointer;
  font-size: x-large;
}

#box2{
  background-color: black
}

#box2 h4{
  text-align: center;
  color: blue;
}

#box2 p{
  text-align: left;
  color: white;
}

#inter{
  color: blue;
}
#inter:hover{
  cursor:pointer;
  font-size: x-large;
}

#box3{
  background-color: black
}

#box3 h4{
  text-align: center;
  color: blue;
}

#box3 p{
  text-align: left;
  color: white
}

#expert{
  color: blue;
}
#expert:hover{
  cursor:pointer;
  font-size: x-large;
}

#prof{
  width:10%;
  height: 50px;
}