/*css syntax */

body,

div,

section,

article,

sidebar,

nav,

footer {

  display: block;

}



header img {

  border-radius: 100%;

  width: 100px;

}



header nav {

  background: black;

  padding: 5px;

}



header ul li {

  display: inline;

}



header ul li a {

  margin-right: 40px;

  text-decoration: none;

  color: white;

}



header ul li a:hover {

  color: green;

  font-size: 20px;

}



header ul li a:visited {

  color: orange;

  font-size: 20px;

}



/* Updated */

#serach {

    display: flex;

    margin-bottom: 5px;

}



#searchInput {

    /* float: right; */

    padding: 7px;

    border-radius: 100px;

    margin-left: 1000px;

    padding: 7px;

    border: 1px solid #000;

    margin-bottom: 30px;

}



#menu li {

    list-style: none;

    margin-bottom: 5px;

    line-height: 30px;

    padding: 10px;



}



aside {

    border: 1px solid #000;

    color: orange;

    font-size: 18px;

    background: green;

}



aside.span::before {

    content: '(';

}



aside.span::after {

    content: ')';

}



article {

    border: 1px solid #000;

    overflow: hidden;

    margin-left: 5px;

    width: 70%;

    background-color:#444fff;
    padding: 5px 5px;
}



#main-section {

    display: flex;

    margin-top: 5px;
    

}

#people{
  display: flex;
}

.people{
  text-align: left;
  margin-left: 5px;
  padding: 15px 15px;
  color: white;
  background: black;
  font-style: italic;
  


}

.people:hover{
  box-shadow: 3px 3px 1px;
  color: red;
  border-radius: 6px;
}

.people p{
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding: 5px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
  border-color: yellow;
  margin-top: 1px;
}

.people p:last-of-type{
  /* border: none;  */
}
.read{
  color: blue;
  padding: 4px 4px;
  background-color: white;
  text-decoration: underline;
  
  
}
.read:hover{
  color: aqua;
}
.people h2{
  text-decoration: underline;
}



a {

    text-decoration:none;

    color: white;
    padding-bottom: 5px;
    

}



#menu li a {

    margin-bottom: 1px solid rgba(0, 0, 0, .2);

}



#menu li a:last-child {

    margin-bottom: 0;

}

#article-heading{
  text-align: center;
  text-shadow: 3px 3px 2px #000;
  color: #fff;
  font-size: 22px;
  
}

#image{
  background-image: url(../img/naijasports.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 200px;
  
}

#economy{
  display: flex;
  text-align: left;
  background-color: black;
  font-style: italic;
  color:blue;
  padding: 1px 4px;
  box-shadow: 3px 3px 1px;
  
}

.economy p{
  padding: 15px 15px;
  background-color: crimson;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px solid white;
}
.more{
  text-decoration: underline;
  color: blue;
  padding: 2px 2px;
  background-color: white;

}
.more:hover{
  color: aqua;
}

.economy h2{
  text-decoration: underline;
  text-shadow: 3px 3px 2px;
  font-style: bolder;
}

.economy:hover{
  color: yellow;
}

footer{
  background: #000;
  height: 100px;
  text-align: center;
  color: white;
  padding-top: 10px;
  opacity: 0.7;
  padding-right: 15px;
}

